* {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

:focus {
    outline: none !important;
}

body {
    background: #d0d6d6;
}

.autor {
    margin-top: -30px;
    padding-left: 20px;
    font-size: 16px;
    height: 30px;
}

#status {
    margin-right: 80px;
}

#licznik {
    margin-right: 20px;
}

/* psy */
.karta > div {
    background: url('resources/pieski.png') no-repeat;
    display: inline-block;
    zoom: 0.6;
}

.karta > [pies="1"] {
    width: 105px;
    height: 150px;
}

.karta > [pies="2"] {
    width: 105px;
    height: 150px;
    background-position: -110px 0px;
}

.karta > [pies="3"] {
    width: 105px;
    height: 150px;
    background-position: -220px 0px;
}

.karta > [pies="4"] {
    width: 105px;
    height: 150px;
    background-position: -325px 0px;
}

.karta > [pies="5"] {
    width: 105px;
    height: 150px;
    background-position: -446px 0px;
}

.karta > [pies="6"] {
    width: 105px;
    height: 150px;
    background-position: -5px -141px;
}

.karta > [pies="7"] {
    width: 105px;
    height: 150px;
    background-position: -111px -141px;
}

.karta > [pies="8"] {
    width: 105px;
    height: 150px;
    background-position: -218px -141px;
}

.karta > [pies="9"] {
    width: 105px;
    height: 150px;
    background-position: -328px -141px;
}

.karta > [pies="10"] {
    width: 105px;
    height: 150px;
    background-position: -445px -141px;
}

.karta > [pies="11"] {
    width: 105px;
    height: 150px;
    background-position: -7px -270px;
}

.karta > [pies="12"] {
    width: 105px;
    height: 150px;
    background-position: -117px -270px;
}

.karta > [pies="13"] {
    width: 105px;
    height: 150px;
    background-position: -223px -273px;
}

.karta > [pies="14"] {
    width: 105px;
    height: 150px;
    background-position: -337px -270px;
}

.karta > [pies="15"] {
    width: 105px;
    height: 150px;
    background-position: -445px -270px;
}

/* karty */
.zakryta > div {
    background: url('resources/karta.png') no-repeat;
    display: inline-block;
    zoom: 0.25;
}

.zakryta > [bg="1"] {
    width: 248px !important;
    height: 360px !important;
    background-position: 0px 0px !important;
}

.zakryta > [bg="2"] {
    width: 260px !important;
    height: 360px !important;
    background-position: -247px 0px !important;
}

.zakryta > [bg="3"] {
    width: 286px !important;
    height: 360px !important;
    background-position: -513px 0px !important;
}

.mdc-top-app-bar--fixed-adjust {
    padding-top: 80px;
}

#plansza {
    zoom: 0.85;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px 10px;
    justify-items: center;
    align-items: center;
}

.karta {
    border: 1px solid #444;
    background: #fff;
    width: 85px;
    height: 100px;
    border-radius: 6px;
    display: inline-flex;
    cursor: pointer;
    margin: 5px;
}

.karta > * {
    margin-left: 11%;
    margin-top: 6%;
}