.autor {
    margin-top: -30px;
    padding-left: 20px;
    font-size: 16px;
    height: 30px;
}

#licznik {
    margin-right: 20px;
}

/* psy */
.pies {
    background: url('resources/pieski.png') no-repeat;
    display: inline-block;
    zoom: 0.6;
}

.pies.n1 {
    width: 105px;
    height: 150px;
}

.pies.n2 {
    width: 105px;
    height: 150px;
    background-position: -110px 0px;
}

.pies.n3 {
    width: 105px;
    height: 150px;
    background-position: -220px 0px;
}

.pies.n4 {
    width: 105px;
    height: 150px;
    background-position: -325px 0px;
}

.pies.n5 {
    width: 105px;
    height: 150px;
    background-position: -446px 0px;
}

.pies.n6 {
    width: 105px;
    height: 150px;
    background-position: -5px -141px;
}

.pies.n7 {
    width: 105px;
    height: 150px;
    background-position: -111px -141px;
}

.pies.n8 {
    width: 105px;
    height: 150px;
    background-position: -218px -141px;
}

.pies.n9 {
    width: 105px;
    height: 150px;
    background-position: -328px -141px;
}

.pies.n10 {
    width: 105px;
    height: 150px;
    background-position: -445px -141px;
}

.pies.n11 {
    width: 105px;
    height: 150px;
    background-position: -7px -270px;
}

.pies.n12 {
    width: 105px;
    height: 150px;
    background-position: -117px -270px;
}

.pies.n13 {
    width: 105px;
    height: 150px;
    background-position: -223px -273px;
}

.pies.n14 {
    width: 105px;
    height: 150px;
    background-position: -337px -270px;
}

.pies.n15 {
    width: 105px;
    height: 150px;
    background-position: -445px -270px;
}

/* karty */
.zakryta {
    background: url('resources/karta.png') no-repeat;
    display: inline-block;
    zoom: 0.25;
}

.zakryta.n1 {
    width: 248px;
    height: 360px;
}

.zakryta.n2 {
    width: 260px;
    height: 360px;
    background-position: -247px 0px;
}

.zakryta.n3 {
    width: 286px;
    height: 360px;
    background-position: -513px 0px;
}

.plansza {
    padding: 100px 7px;
    background: #d0d6d6;
    height: 100vh;
    zoom: 0.7;
}

.karta {
    border: 1px solid #444;
    background: #fff;
    width: 85px;
    height: 100px;
    border-radius: 6px;
    display: inline-flex;
    cursor: pointer;
    margin: 5px;
}

.karta > * {
    margin-left: 11%;
    margin-top: 6%;
}